
.nav a {
  text-decoration: none;
  padding: 10px;
  display: flex;
}

.item {
  color: black;
}

.active {
  color:aliceblue;
}

.container {
  background-color: blue;
}

.titel {
  text-align: center;
}


