.wrapper {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

.flex_content {
  display: flex;
}

.wrapper_content {
  background-color: #e6e8ec;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 100px;
}